registry=https://registry.npm.oliverfreudrich.com/
init.author.name=Oliver Freudrich
init.author.email=info@oliverfreudrich.com
init.author.url=https://oliverfreudrich.com/
strict-ssl=true
email=info@oliverfreudrich.com
httponly=true
